html, body, .root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

.list {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    width: auto;
    margin: 10px 0px;
}

.list-item {
    padding: 0.3rem;
    white-space: nowrap;
    cursor: pointer;
    height: 1.5rem;
    display: list-item;
    list-style: inside;
}

.floating {
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.list-item.drop-zone {
    background-color: #ccc;
    transition-property: height, padding;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.list-item.drop-zone.hidden {
    height: 0px;
    padding: 0px
}

/*reactflow overwrites*/
path.react-flow__edge-path {
    stroke-width: 2;
}

path.react-flow__edge-path:hover {
    stroke-width: 4;
}

/*hightlight node when slected*/
.react-flow__node.selected {
    background: rgba(0, 89, 220, 0.08);
    outline: 4px dotted rgba(0, 89, 220, 0.8) !important;
}

/*highlight handles on hover*/
.react-flow__handle-connecting {
    @apply bg-not-connectable;
}

.react-flow__handle-connecting.valid {
    @apply bg-connectable;
}

// display handle above background
.react-flow__handle {
    z-index: 1;
}

.react-flow__panel {
    @apply m-[15px] lg:m-4 xl:m-6 2xl:m-8;
}

// toolbarbutton is a bit complex

.toolbarbutton:not(.disabled) {
    &:hover > button {
        @apply -translate-y-3 shadow-md;
    }
    &:hover > span {
        opacity: 1.0;
    }
}

// toolbarbutton is a bit complex

.toolbarbutton:not(.disabled) {
    &:hover > button {
        @apply -translate-y-3 shadow-md;
    }
    &:hover > span {
        opacity: 1.0;
    }
}